<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server Home Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        h1 {
            color: #333;
        }

        p {
            line-height: 1.5;
            color: #666;
        }
        a {
            color: #007bff;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
    </style>
</head>

<body>
    <h1>Welcome to SociWave Admin Panel Backend Server</h1>
    <p>This server serves as a backend for SociWave Admin Panel. It provides APIs for the Admin Panel to retrieve data from the database and perform other operations. <br>
    Although the APIs are not meant to be accessed directly by public users. We use this server for private work and testing.
    </p>


    <b>If you want similar server for your project, contact us at <a href="mailto:rajnishtripathi2001@gmail.com">My Email</a>

    </b>
</body>

</html>
